.page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 10vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
}

.logo {
    /* border-radius: 20px; */
    /* position: relative; */
    /* left: 20px; */
    /* text-align: center; */
    height: 80%;
    width: 30%;
    /* display: flex; */
    /* align-items: start; */
    /* margin: auto; */
}

.logo-parent {}

ul {

    /* display: flex; */
    align-items: center;
    /* justify-content: space-evenly; */
}

ul li {
    list-style: none;
    font-weight: 700;
    font-size: 20px;
}

li:hover {
    cursor: pointer;
    color: bisque;
    transform: scale(1.2);
    transition-duration: 400ms;
}